{% extends 'base.html' %}
{% block subtitle %} - {{ game.name }} World Records{% endblock %}
{% block content %}
<h2>{{ game.name }}</h2>
		<ul id="catTabs">
			{% for cat in categories %}
					{% if record.category.name|lower == cat.name|lower %}
						<li class="activeCat">{{cat}}</li>
					{% else %}
						<li class="otherCat"><a href="{% url 'records:record' game.name cat %}">{{cat}}</a></li>
					{%endif %}
			{% endfor %}
		</ul>
	<div id="record">

		{% block record %}{% endblock %}
	</div>
{% endblock %}
